* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: 214;
    --green: 112;
    --hsl: var(--blue);
    --secondary-color: hsl(var(--hsl), 36%, 48%);
    --shadow-color: #0D0D0D;
}

body {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(113, 205, 180, 0.32), rgb(14, 53, 126)), url(./assets/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px) grayscale(15%) contrast(70%);

}

body h2, p, li, button {
    text-shadow: var(--shadow-color) 2px 2px 5px;
}

main {
    width: 100%;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 32px;

    justify-content: center;

    animation-duration: 1s;
    animation-name: slidein;
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
}

header h2 {
    color: var(--secondary-color);
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
}

#profile-img {
    width: 192px;
    height: 192px;
    object-fit: cover;
    
    border-radius: 50%;
    filter: drop-shadow(var(--shadow-color) 5px 5px 10px);
}

.logo p {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.logo img {
    height: 18px;

    filter: drop-shadow(var(--secondary-color) 2px 2px 5px );
}

section {
    display: flex;
    justify-content: center;
}

section ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section li::marker {
    color: var(--secondary-color);
}

.net-icons {
    display: flex;
    justify-content: space-evenly;

}

.net-icons img {
    width: 50px;
    height: 50px;

    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 10px;
}

.net-icons img:hover {
    filter: drop-shadow(2px 2px 5px );
}

button {
    height: 50px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    border: 0;
    border-radius: 20px 20px 0 0;

    min-width: 192px;

    background-color: var(--secondary-color);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@keyframes slidein {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0;
    }
}

@media(min-width: 440px ) {
    main {
        width: 414px;
    }
}
